@using ToDoApp.Data.Models
@using ToDoApp.Services

@rendermode InteractiveServer

@inject ToDoTaskService ToDoTaskService

<div class="col-12">
    <div class="row">

        <div class="col-12">
            <h4 class="text-center">@List.Name</h4>
        </div>

        @foreach (var task in List.Tasks)
        {
            <div class="col-12">
                <div class="row">

                    <div class="col-12">
                        <div class="form-floating">
                            <input type="text"
                                   value="@task.Name"
                                   @onchange="@((ChangeEventArgs __e) => UpdateTaskName(task, __e?.Value))"
                                   class="form-control" id="nameInput" />
                            <label for="nameInput">Task name</label>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-floating">
                            <input type="datetime-local"
                                   value="@task.DueDate?.ToString("yyyy-MM-ddThh:mm:ss")"
                                   @onchange="@((ChangeEventArgs __e) => UpdateTaskDueDate(task, __e?.Value))"
                                   class="form-control" id="dueDateInput" />
                            <label for="dueDateInput">Due date</label>
                        </div>
                    </div>

                    @if (task.IsCompleted)
                    {
                        <div class="col-12">
                            <p>
                                <span>Completed on</span>
                                <span>@task.CompletionDate</span>
                            </p>
                        </div>
                    }

                </div>
            </div>
        }

        <div class="col-12 d-flex">
            <button class="btn btn-primary flex-fill" type="button" @onclick="AddTask">Add task</button>
        </div>

    </div>
</div>

@code {
    [Parameter]
    public ToDoListModel List { get; set; } = default!;

    private async void AddTask()
    {
        var dto = new AddToDoTaskModel
            {
                Name = "New task",
                ToDoListId = List.Id
            };

        var result = await ToDoTaskService.AddTaskToList(dto);

        List.Tasks.Add(result);

        StateHasChanged();
    }

    private async void UpdateTaskName(ToDoTaskModel task, object? newName)
    {
        var value = (string)newName!;

        await ToDoTaskService.UpdateName(task.Id, value);

        task.Name = value;
    }

    private async void UpdateTaskDueDate(ToDoTaskModel task, object? newDueDate)
    {
        DateTime? value = null;

        if (DateTime.TryParse((string)newDueDate!, out DateTime newValue))
        {
            value = newValue;
        }

        await ToDoTaskService.UpdateDueDate(task.Id, value);

        task.DueDate = value;
    }
}
